a {
  text-decoration: none;
  text-align: start;
  color: $main-color;
  display: block;
  margin: 10px auto;
  @include mobilScreen {
    text-align: center;
  }
  .right {
    @if ($lang == Arabic) {
      display: none;
    }
    padding: 0;
    margin: 0;
    font-size: 10px;
    &:nth-child(2) {
      margin-left: -8px;
    }
  }
  .left {
    @if ($lang == English) {
      display: none;
    }
    font-size: 10px;
    &:nth-last-child(2) {
      margin-left: -8px;
    }
  }
}
