.container {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  @include smallScreen {
    width: 750px;
  }
  @include mediumScreen {
    width: 970px;
  }
  @include largeScreen {
    width: 1170px;
  }
}
// Create Own Grid System
$grid_cols: 12;

@for $i from 1 through $grid_cols {
  .col-#{$i} {
    width: percentage($i / $grid_cols);
  }
}
