.header {
  background-color: #f9f9f9;
  padding: $header-padding;
  border-bottom: 1px solid $second-color;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobilScreen {
      flex-direction: column;
    }
    @include smallScreen {
      flex-direction: column;
    }
  }
  .logo {
    h1 {
      text-transform: uppercase;
      color: $second-color;
      margin: 0;
    }
    p {
      color: $second-color;
      margin: 0;
    }
    @include mobilScreen {
      margin-bottom: 15px;
    }
    @include smallScreen {
      margin-bottom: 15px;
    }
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-color;
    padding: 10px 5px;
    border-radius: 15px;
    li {
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 14px;
      transition: $main-transition;
      @include mobilScreen {
        font-size: 10px;

        padding: 0 5px;
        text-transform: capitalize;
      }
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
}
